<nav class="navbar navbar-dark bg-primary">
    <ul>
       <li> <a routerLink="/product" routerLinkActive="active"> Product</a> </li>
       <li> <a routerLink="/list" routerLinkActive="active">List</a>  </li>
       <li> <a routerLink="/file-upload" routerLinkActive="active">File Upload</a>  </li>
    </ul>
  </nav>

  Form Home component, current link: {{ currentLink }}
  <li> <a routerLink="/product" routerLinkActive="active"> Start</a> </li>

  <app-image-animate></app-image-animate>

  <button *counter="let p of pageCount()">{{p}} </button>