
<form #userlogin="ngForm" (ngSubmit)="onClickSubmit()">
  <div class="col-md-6 col-sm-6 col-lg-6"> 
  <div class="form-group" #uData="ngModelGroup" ngModelGroup="userData">
    <label class="form-label">Login email:</label>
   <input class="form-control" type = "text" #email="ngModel" 
   [ngModel]="defulatEmail" name="email" placeholder="emailid" ngModel required email>
  </div>
  <span *ngIf="!email.valid && email.touched" class="help-block alert alert-danger" style="display:block;"> Please Enter a valid email</span>
  <div class="form-group form-floating">
  <label class="form-label">Login email:</label>
   <input class="form-control" type = "password" name = "password" placeholder = "passwd" ngModel required>
   </div>
   <p class="alert alert-danger" *ngIf="!uData.valid"> User Data is Invalid</p>

  <div class="radio" *ngFor="let gender of genders">
    <label>
      <input type="radio" name="gender" ngModel [value]="gender">
      {{gender}}
    </label>
  </div>
  <div>
  <input type="button" class="btn btn-primary" value="Suggest Name" (click)="suggest()" />
  </div>
   <div class="form-group">
   <label class="form-label" value="">Answer a secret question:</label>
   <select class="form-control" name="secret">
     <option value="pet">Your Pet Name: </option>
     <option value="teacher">Your favorite Teacher Name: </option>
   </select>
   <input type="text" name="secret" [(ngModel)]="secret"/>
   {{secret}}
   </div>
   <input  type = "submit" value = "submit" [disabled]="!userlogin.valid">
   </div> 
   <hr />
   <div class="row">

     <div class="col-lg-21">
      <h3>Your Data</h3> 
       <p>Mail: {{user.email}}  </p>
       <p>Password: {{user.password}} </p>
       <p>Secret: {{user.secret}} <p>
     </div>
   
   </div>
</form>


<router-outlet></router-outlet>
